---
- name: Destroy Bastion
  hosts: localhost
  environment:
    OS_CLOUD: "{{ cloud_name | default(omit) }}"
  tasks:
    - include_role:
        name: bastion
        tasks_from: destroy
    - include_role:
        name: keypair
        tasks_from: destroy
      vars:
        keypair_name: "{{ bastion_keypair_name }}"
