---
- name: Bastion SecGrp
  os_security_group:
    state: present
    name: "{{ bastion_sec_grp }}"
    description: Security group for the bastion host

- name: Bastion SecGrp ICMP Rule
  os_security_group_rule:
    security_group: "{{ bastion_sec_grp }}"
    protocol: icmp
    remote_ip_prefix: 0.0.0.0/0

- name: Bastion SecGrp SSH Rule
  os_security_group_rule:
    security_group: "{{ bastion_sec_grp }}"
    protocol: tcp
    port_range_min: 22
    port_range_max: 22
    remote_ip_prefix: 0.0.0.0/0

- name: get subnet info
  os_subnets_facts:
    name: "{{ default_subnet_name }}"

- name: Convert subnets list into dict
  set_fact:
    subnets: "{{ subnets|default({}) | combine( {item.name: item.id} ) }}"
  with_items: "{{ openstack_subnets }}"

# Port update is somehow corrupting network if already exist and assigned to server
- os_port:
    name: bastion-port
    state: absent

- os_port:
    state: present
    name: bastion-port
    fixed_ips:
      - subnet_id: "{{ subnets[default_subnet_name] }}"
    security_groups: "{{ bastion_sec_grp }}"
    network: "{{ network_name }}"

- name: create bastion server
  os_server:
    state: present
    auto_ip: false
    name: "{{ bastion_server_fqdn }}"
    image: "{{ bastion_image }}"
    flavor: "{{ bastion_flavor }}"
    key_name: "{{ ssh_key_name }}"
    boot_from_volume: true
    volume_size: 10
    nics:
      - port-name: bastion-port
    terminate_volume: true
    userdata: "{{ lookup('template', './user-data.j2') }}"
    meta: "group={{ bastion_server_fqdn }},host_type=bastion"


- os_floating_ip:
    server: "{{ bastion_server_fqdn }}"
  when: bastion_assign_public_ip

- name: get server info
  os_server_facts:
    server: "{{ bastion_server_fqdn }}"

- debug:
    var: openstack_servers

- name: Convert subnets list into dict
  set_fact:
    bastion_ips: "{{ bastion_ips|default({}) | combine( {item.name: item.public_v4} ) }}"
  with_items: "{{ openstack_servers }}"

- debug:
    var: bastion_ips

- name: Add the bastion to the inventory
  add_host:
    name: "{{ bastion_ips[bastion_server_fqdn] }}"
    groups: bastions
    ansible_user: "{{ bastion_server_ssh_user }}"
