---
- name: Provision DNS infrastructure
  hosts: localhost
  environment:
    OS_CLOUD: "{{ lookup('env', 'OS_CLOUD') | default(cloud_name) }}"
  tasks:
    # - include_role:
    #     name: keypair
    #   vars:
    #     keypair_name: "{{ dns_keypair_name }}"
    - include_role:
        name: dns

    # - include_tasks: ../common/cache_required_hostvars.yaml
    #   vars:
    #     group_name: "bind"
    #     cache_file: "{{ dns_group_cache_file | default('/tmp/ansible_group_bind_cache.tmp') }}"


- name: register RHE
  hosts: all
  become: true
  tasks:
    # First wait for connection, since they might not have booted yet
    - name: wait
      wait_for_connection:
        timeout: 60

    - name: Install Satellite CA certificate
      yum:
        name: "http://{{ rhsm_satellite }}/pub/katello-ca-consumer-latest.noarch.rpm"
        state: present
      when: rhsm_satellite | default

    - name: Subscribe to Satellite with activation key and auto-attach
      redhat_subscription:
        autosubscribe: true
        server_hostname: "{{ rhsm_satellite | default(None) }}"
        org_id: "{{ rhsm_org_id | default(None) }}"
        activationkey: "{{ rhsm_activation_key }}"
      when: rhsm_activation_key | default

    - name: Subscribe to RHSM and auto-attach
      redhat_subscription:
        username: "{{ rhn_username | default(None) }}"
        password: "{{ rhn_password | default(None) }}"
        autosubscribe: true
        server_hostname: "{{ rhsm_satellite | default(None) }}"
        org_id: "{{ rhsm_org_id | default(None) }}"
      when: rhn_username|default and rhn_password|default and rhn_pool|default == ""

    - name: Subscribe to RHSM and attach a pool
      redhat_subscription:
        username: "{{ rhn_username }}"
        password: "{{ rhn_password }}"
        pool_ids: ["{{ rhn_pool }}"]
        server_hostname: "{{ rhsm_satellite|default(None) }}"
        org_id: "{{ rhsm_org_id|default(None) }}"
      when: rhn_username|default and rhn_password|default and rhn_pool|default

# - import_playbook: ../common/read_cached_inventories.yaml

- name: Prepare Bind
  hosts: bind
  become: true
  remote_user: linux
  tasks:
    - include_role:
        name: dns
        tasks_from: bind.yaml

- name: Provision master
  hosts: dns_masters
  become: true
  tasks:
    - include_role:
        name: dns
        tasks_from: masters.yaml

- name: Provision slaves
  hosts: dns_slaves
  become: true
  tasks:
    - include_role:
        name: dns
        tasks_from: slaves.yaml
