---
- name: Create VPC
  hosts: localhost
  environment:
    OS_CLOUD: "{{ lookup('env', 'OS_CLOUD') | default(cloud_name) }}"
  tasks:
    - include_role:
        name: vpc
    - include_role:
        name: keypair
      vars:
        keypair_name: "{{ common_keypair_name }}"
